<section class="devise">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container">
    <h2><%= t 'account.edit_account' %></h2>
    <div class="field">
      <%= f.label t 'activerecord.attributes.users.name' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.users.surname' %><br />
      <%= f.text_field :surname, autocomplete: "surname" %>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.users.phone_number' %><br />
      <%= f.text_field :phone_number, autocomplete: "phone number" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t 'account.waiting_confirmation' %>: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label t 'activerecord.attributes.users.password' %> <i>(<%= t 'account.leave_blank' %>)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> <%= t 'devise.characters_minimum' %></em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.users.password_confirmation' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label t 'account.current_password' %> <i>(<%= t 'account.need_password' %>)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit class: 'button', value: "#{ t 'account.update' }" %>
    </div>

    <span class="psw"><%= link_to "#{ t 'account.delete_account' }", registration_path(resource_name),
                                  data: { confirm: "#{ t 'account.are_you_sure' }" },
                                  method: :delete %>
    </span>
  </div>
<% end %>

  <%#= react_component("Devise/Registration/EditRegistration", {authenticity_token:form_authenticity_token}) %>

</section>