<aside id="notice"><%= notice %></aside>
<aside style="color:red;"><%= alert %></aside>

<h1>Doctors:</h1>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Active</th>
    <th>Registration date</th>
  </tr>
  </thead>

  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.surname %></td>
      <td><%= doctor.email %></td>
      <td><%= doctor.phone_number %></td>
      <td><%= doctor.is_active %></td>
      <td><%= doctor.created_at %></td>

      <!--        <td><%#= link_to 'Show', doctor %></td>-->
      <!--        <td><%#= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>


<%#= link_to 'New Doctor', new_user_path %>
