<h1><%= t 'manager_bar.patients' %>:</h1>
  <table class="table">
    <thead>
    <tr>
      <th><%= t 'activerecord.attributes.users.name' %></th>
      <th><%= t 'activerecord.attributes.users.surname' %></th>
      <th><%= t 'activerecord.attributes.users.email' %></th>
      <th><%= t 'activerecord.attributes.users.phone_number' %></th>
      <th><%= t 'activerecord.attributes.users.is_active' %></th>
      <th><%= t 'activerecord.attributes.users.registration_date' %></th>
    </tr>
    </thead>

    <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.surname %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone_number %></td>
        <td><%= patient.is_active %></td>
        <td><%= patient.created_at.strftime("%Y-%m-%d") %></td>

<!--        <td><%#= link_to 'Show', patient %></td>-->
<!--        <td><%#= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>


<%#= link_to 'New Patient', new_user_path %>
