<h1><%= t 'manager_bar.doctors' %>:</h1>
<table class="table">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.users.name' %></th>
    <th><%= t 'activerecord.attributes.users.surname' %></th>
    <th><%= t 'activerecord.attributes.users.email' %></th>
    <th><%= t 'activerecord.attributes.users.phone_number' %></th>
    <th><%= t 'activerecord.attributes.users.is_active' %></th>
    <th><%= t 'activerecord.attributes.users.registration_date' %></th>
  </tr>
  </thead>

  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.surname %></td>
      <td><%= doctor.email %></td>
      <td><%= doctor.phone_number %></td>
      <td><%= doctor.is_active %></td>
      <td><%= doctor.created_at.strftime("%Y-%m-%d") %></td>

      <!--        <td><%#= link_to 'Show', doctor %></td>-->
      <!--        <td><%#= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>


<%#= link_to 'New Doctor', new_user_path %>
