<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>


<%= link_to 'Edit account', edit_user_registration_path %>

<% if @user %>
  <%#= react_component 'ListOfDoctors', doctors: @doctors %>
<% else %>
  <%#= react_component 'ListOfDoctors', doctors: @doctors %>
<% end %>


