<section class="devise">
  <div class="container">
    <h2><b><%= "#{@user.name} #{@user.surname}" %></b></h2>
    <div class="container">
      <p>
        <strong><%= t 'activerecord.attributes.users.email' %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= t 'activerecord.attributes.users.phone_number' %>:</strong>
        <%= @user.phone_number %>
      </p>
      <span class="psw"><%= link_to "#{ t 'account.edit_account' }", edit_user_registration_path %></span>
      <% if @user.role == 'patient' %>
        <div>
          <span class="psw"><%= link_to "#{ t 'account.patient_card' }" %></span>
        </div>
      <% end %>
      <% if @user.role == 'doctor' %>
        <div>
          <span class="psw"><%= link_to "#{ t 'account.doctor_profile' }" %></span>
        </div>
        <div>
          <span class="psw"><%= link_to "#{ t 'account.my_schedules' }", schedules_path %></span>
        </div>
      <% end %>
      <% if @user.role == 'doctor' or @user.role == 'patient' %>
        <div>
          <span class="psw"><%= link_to "#{ t 'account.my_visits' }", visits_path %></span>
        </div>
        <% end %>
      <% if @user.role == 'manager' %>
          <div>
            <span class="psw"><%= link_to "#{ 'Manager Dashboard' }", manager_path %></span>
          </div>
      <% end %>
      <% if @user && @user.role == 'admin' %>
        <div>
          <a href="/admin/index">Dashboard</a>
        </div>
        <div>
          <a href="/patient_profile">Patient profile</a>
        </div>
      <% end %>
    </div>
  </div>
</section>


