
<section class="devise">
  <div class="container">
    <h2><b><%= "#{@user.name} #{@user.surname}" %></b></h2>
    <div class="container">
      <p>
        <strong><%= t 'activerecord.attributes.users.email' %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= t 'activerecord.attributes.users.phone_number' %>:</strong>
        <%= @user.phone_number %>
      </p>
      <span class="psw"><%= link_to "#{ t 'account.edit_account' }", edit_user_registration_path %></span>
      <% if @user.role == 'patient' %>
        <span class="psw"><%= link_to "#{ t 'account.patient_card' }" %></span>
      <% end %>
      <% if @user.role == 'doctor' %>
        <div>
          <span class="psw"><%= link_to "#{ t 'account.doctor_profile' }" %></span>
        </div>
        <div>
          <span class="psw"><%= link_to "#{ 'My schedule' }", schedules_path %></span>
        </div>
      <% end %>
      <% if @user.role == 'manager' %>
        <span class="psw"><%= link_to "#{ 'Manager Dashboard' }", manager_path %></span>
      <% end %>
    </div>
  </div>
</section>


