<section class="devise">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <h2><%= t 'devise.forgot_password' %></h2>
    <div class="field">
      <%= f.label t 'activerecord.attributes.users.email' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit class: 'button', value: "#{t 'devise.send_me_rpi'}" %>
    </div>
    <span class="psw"><%= render "devise/shared/links" %></span>
  </div>
<% end %>

  <%#= react_component("Devise/Password/ResetPassword", {authenticity_token:form_authenticity_token}) %>

</section>