<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.doctor' %>
    <%= form.select :user_id, User.where(:role => 'doctor').order(:surname).map{ |user| ["#{user.surname} #{user.name}", user.id]}%>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.day' %>
    <%= form.select :day, Schedule.days.keys.to_a.map{ |day| [( t "days.#{day.downcase}"), day]} %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.start_time' %>
    <%= form.time_select :start_time, minute_step: 30 %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.end_time' %>
    <%= form.time_select :end_time, minute_step: 30 %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.start_date' %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.end_date' %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.schedules.visit_type' %>
    <%= form.select :visit_type_id, VisitType.all.order(:length).map{ |vt| [ (t "visit_types.#{ vt.name }"), vt.id]}%>
  </div>

  <div class="actions">
    <%= form.submit t 'activerecord.attributes.schedules.create_schedule' %>
  </div>
<% end %>
