<h1><%= t 'activerecord.attributes.schedules.schedules' %>:</h1>
<% if @schedules.empty? %>
  <h4><%= t 'activerecord.attributes.schedules.no_schedules_message' %>:</h4>
<% end %>
<% unless @schedules.empty? %>
<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.schedules.doctor' %></th>
      <th><%= t 'activerecord.attributes.schedules.day' %></th>
      <th><%= t 'activerecord.attributes.schedules.start_time' %></th>
      <th><%= t 'activerecord.attributes.schedules.end_time' %></th>
      <th><%= t 'activerecord.attributes.schedules.start_date' %></th>
      <th><%= t 'activerecord.attributes.schedules.end_date' %></th>
      <th><%= t 'activerecord.attributes.schedules.visit_type' %></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <% dt_format = "%H:%M" %>
        <td><%= "#{schedule.user.name} #{schedule.user.surname}" %></td>
        <td><%= t "days.#{schedule.day.downcase}" %></td>
        <td><%= schedule.start_time.strftime(dt_format) %></td>
        <td><%= schedule.end_time.strftime(dt_format) %></td>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.end_date %></td>
        <td><%= t "visit_types.#{schedule.visit_type.name}" %></td>

        <td><%= link_to "#{ t 'records.show'}", schedule %></td>
        <td><%= link_to "#{ t 'records.edit'}", edit_schedule_path(schedule) %></td>
        <td><%= link_to "#{ t 'records.delete'}", schedule, method: :delete, data: { confirm: (t 'account.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= link_to "#{ t 'activerecord.attributes.schedules.new_schedule'}", new_schedule_path %>
