<p>
  <strong><%= t 'activerecord.attributes.schedules.doctor' %>:</strong>
  <%= @schedule.user.name %> <%= @schedule.user.surname %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.day' %>:</strong>
  <%= t "days.#{@schedule.day.downcase}" %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.start_time' %>:</strong>
  <%= @schedule.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.end_time' %>:</strong>
  <%= @schedule.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.start_date' %>:</strong>
  <%= @schedule.start_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.end_date' %>:</strong>
  <%= @schedule.end_date.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.schedules.visit_type' %>:</strong>
  <%= t "visit_types.#{@schedule.visit_type.name}" %> <%= @schedule.visit_type.length %> <%= t 'activerecord.attributes.visit_types.minutes' %>
</p>

<%= link_to (t 'records.back'), schedules_path %> |
<%= link_to (t 'records.edit'), edit_schedule_path %> |
<%= link_to (t 'records.delete'), @schedule, method: :delete, data: { confirm: (t 'account.are_you_sure') } %>