<div class="sidebar">
  <%= link_to "Patients", manager_patients_path %>
  <%= link_to "Doctors", manager_doctors_path %>
  <%= link_to "Visits", visits_path %>
  <%= link_to "Visit types", visit_types_path %>
  <%= link_to "Schedules", schedules_path %>
</div>
