<div class="sidebar">
  <%= link_to (t 'manager_bar.patients'), manager_patients_path %>
  <%= link_to (t 'manager_bar.doctors'), manager_doctors_path %>
  <%= link_to (t 'manager_bar.visits'), visits_path %>
  <%= link_to (t 'manager_bar.visit_types'), visit_types_path %>
  <%= link_to (t 'manager_bar.schedules'), schedules_path %>
</div>
