<%= form_with(model: visit_type, local: true) do |form| %>
  <% if visit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit_type.errors.count, "error") %> prohibited this visit type from being saved:</h2>

      <ul>
        <% visit_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t 'activerecord.attributes.visit_types.name' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.visit_types.description' %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label t 'activerecord.attributes.visit_types.duration' %>
    <%= form.text_field :length %>
  </div>

  <div class="actions">
    <%= form.submit t 'activerecord.attributes.visit_types.create_visit_type' %>
  </div>
<% end %>
