<p id="notice"><%= notice %></p>
<p>
  <strong><%= t 'activerecord.attributes.visit_types.name' %>:</strong>
  <%= @visit_type.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.visit_types.description' %>:</strong>
  <%= @visit_type.description %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.visit_types.duration' %>:</strong>
  <%= @visit_type.length %>
</p>

<%= link_to (t 'records.edit'), edit_visit_type_path(@visit_type) %> |
<%= link_to (t 'records.back'), visit_types_path %>

