<!DOCTYPE html>
<html>
  <head>
    <title>MedManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        I18n.locale = "<%= I18n.locale %>";
        I18n.defaultLocale = "<%= I18n.default_locale %>";
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  </head>

  <body>
  <%= render partial: "shared/navigation", locals: { doctor_departments: @doctor_departments } %>
  <%= render "shared/flash" %>
  <%= react_component("Bottom") %>
  <% if current_user && current_user.role == 'manager' %>
    <%= render "shared/manager_bar" %>
    <div class="content">
      <%= yield %>
    </div>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
  </body>
</html>
